

.card__title {
  margin: 0;
}

.card__chart {
  margin-top: 10px;
  min-height: 600px;
}

.card__table {
  margin-top: 10px;
  border-collapse: collapse;
}

.table__cell {
  border: 1px solid gray;
}
